html {
    overflow: scroll;
    overflow-x: hidden;
}
html, body {
    height: 100%;
}
.container {
    min-width: 100%;
    height: 100%;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
body {
    padding: 0;
    margin: 0;
}
.container {
    background-color: black;
}
.slider-block-title {
    font-family: sans-serif;
    font-size: larger;
    color: white;
    display: block;
    background-color: black;
    position: absolute;
    height: 30px;
    left: 50%;
    transform: translate(-50%, -80%);
    top: 80%;
}
.slider-block {
    display: none;
}
.slider-container {
    width: 100%;
    height: 200px;
    top: 20%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.slider-item-response {
    position: absolute;
    width: 100%;
    color: black;
    font-family: sans-serif;
    white-space: normal;
    text-align: center;
    font-size: smaller;
    bottom: 0;
    background-color: white;
    opacity: 0.8;
}
.slider-item {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    display: inline-block;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.slider-item-background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.slider-complete {
    background-image: url(add.png);
    background-size: cover;
    background-color: white;
    opacity: 0.6;
    width: 64px;
    height: 64px;
    z-index: 9;
    position: fixed;
    bottom: 5px;
    right: 5px;
    border-radius: 25%;
}
.slider-radio {
    position: absolute;
    top: 10px;
    right: 10px;
}
.slider-radio-custom {
    opacity: 0;
    position: absolute;
}
.slider-radio-custom, .slider-radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.slider-radio-custom-label {
    position: relative;
}
.slider-radio-custom+ .slider-radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    text-align: center;
}
.slider-radio-custom+ .slider-radio-custom-label:before {
    border-radius: 50%;
}
.slider-radio-custom:checked+ .slider-radio-custom-label:before {
    background: blueviolet;
    box-shadow: inset 0px 0px 0px 4px #fff;
}
