.typing-font {
    color: black;
    font-size: 0.8em;
    font-family: sans-serif;
    text-align: justify;
}

.typing-block {
    overflow: scroll;
    height: 20%;
    bottom: 1px;
    width: 95%;
    padding: 2%;
    position: absolute;
}
