.typing-font {
    color: black;
    font-size: 0.8em;
    font-family: sans-serif;
    text-align: justify;
}

.typing-block {
    border: 2px;
    border-style: groove;
    border-radius: 7px;
    background-color: #fffbfb;
    overflow: scroll;
    height: 20%;
    bottom: 1px;
    width: 90%;
    margin: 3%;
    padding: 2%;
    position: absolute;
}

.typing-block::-webkit-scrollbar {
    display: none;
}
